# ðŸ“Š Analyse Exploratoire des DonnÃ©es - Fashion Store Sales

## 1. Structure du fichier

### Colonnes et types :

In [10]:
import pandas as pd

In [12]:
df = pd.read_csv(r'C:\Users\lenovo\Documents\Artefect Project\minio-data\fashion_store_sales _ Data Eng.csv')
df.shape

(2253, 29)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sale_date          2253 non-null   object
 1   item_id            2253 non-null   int64
 2   sale_id            2253 non-null   int64
 3   product_id         2253 non-null   int64
 4   quantity           2253 non-null   int64
 5   original_price     2253 non-null   float64
 6   unit_price         2253 non-null   float64
 7   discount_applied   2253 non-null   float64
 8   discount_percent   2253 non-null   object
 9   discounted         2253 non-null   int64
 10  item_total         2253 non-null   float64
 11  channel            2253 non-null   object
 12  channel_campaigns  2253 non-null   object
 13  total_amount       2028 non-null   float64
 14  product_name       2253 non-null   object
 15  category           2253 non-null   object
 16  brand              2253 non-null   object
 17  color              2253 non-null   object
 18  size               2253 non-null   object
 19  catalog_price      2253 non-null   float64
 20  cost_price         2253 non-null   float64
 21  customer_id        2253 non-null   int64
 22  gender             2253 non-null   object
 23  age_range          2253 non-null   object
 24  signup_date        2253 non-null   object
 25  first_name         2137 non-null   object
 26  last_name          2189 non-null   object
 27  email              2029 non-null   object
 28  country            2253 non-null   object
dtypes: float64(7), int64(6), object(16)
memory usage: 510.6+ KB

In [24]:
df["quantity"].value_counts(normalize=True) * 100

quantity
2    21.526853
4    20.461607
1    20.195295
5    19.751443
3    18.064802
Name: proportion, dtype: float64

In [22]:
(df.isna().mean() * 100)

sale_date            0.000000
item_id              0.000000
sale_id              0.000000
product_id           0.000000
quantity             0.000000
original_price       0.000000
unit_price           0.000000
discount_applied     0.000000
discount_percent     0.000000
discounted           0.000000
item_total           0.000000
channel              0.000000
channel_campaigns    0.000000
total_amount         9.986684
product_name         0.000000
category             0.000000
brand                0.000000
color                0.000000
size                 0.000000
catalog_price        0.000000
cost_price           0.000000
customer_id          0.000000
gender               0.000000
age_range            0.000000
signup_date          0.000000
first_name           5.148691
last_name            2.840657
email                9.942299
country              0.000000
dtype: float64

In [23]:
df["signup_date"] = pd.to_datetime(df["signup_date"], errors="coerce")
df["sale_date"] = pd.to_datetime(df["sale_date"], errors="coerce")
mask = df["signup_date"] > df["sale_date"]
percentage = mask.mean() * 100
round(percentage, 2)

np.float64(8.21)

In [25]:
mask = df["cost_price"] > df["catalog_price"]
percentage = mask.mean() * 100
round(percentage, 2)

np.float64(0.0)