In [1]:
import pandas as pd

## Présentation
Le jeu de données fourni représente les ventes d’un magasin e-commerce de prêt-à-porter.
Chaque ligne correspond à un article vendu dans le cadre d’une transaction.
Le fichier contient 29 colonnes couvrant plusieurs dimensions métier :
- vente,
- produit,
- client,
- prix et remises,
- canal de vente. <br>

Le champ sale_date constitue la clé temporelle principale et sera utilisé pour l’ingestion ciblée des données.

In [5]:
df = pd.read_csv('./minio-data/fashion_store_sales _ Data Eng.csv')
df.sample(5)

,sale_date,item_id,sale_id,product_id,quantity,original_price,unit_price,discount_applied,discount_percent,discounted,...,catalog_price,cost_price,customer_id,gender,age_range,signup_date,first_name,last_name,email,country
1864,2025-04-24,571,480,385,5,63.23,63.23,0.00,0.00%,0,...,63.23,39.24,455,Female,36-45,2025-04-07,Crystal,Schulken,cschulkencm@guardian.co.uk,Netherlands
1501,2025-06-15,1474,349,154,4,53.74,53.74,0.00,0.00%,0,...,53.74,29.39,854,Female,36-45,2025-02-24,Christye,Fabri,NaN,Portugal
28,2025-05-27,1785,670,360,1,69.48,69.48,0.00,0.00%,0,...,69.48,39.79,820,Female,56-65,2025-01-29,Rosamund,Pratten,rprattenmr@blog.com,Spain
1650,2025-06-04,332,155,68,4,47.27,42.54,4.73,10.00%,1,...,47.27,30.28,516,Female,36-45,2025-03-27,Dacey,Gleaves,dgleaveseb@shop-pro.jp,Germany
63,2025-04-23,60,226,428,1,61.22,61.22,0.00,0.00%,0,...,61.22,40.79,575,Female,26-35,2025-04-15,Izabel,Reveland,irevelandfy@skyrock.com,Netherlands

In [4]:
df.shape

(2253, 29)

## Analyse structurelle des données

Le fichier mélange plusieurs types d’informations dans une seule table :
#### Informations transactionnelles
- sale_id
- item_id
- sale_date
- quantity
- item_total
- total_amount
#### Informations produit
- product_id
- product_name
- category
- brand
- color
- size
#### Informations de prix
- original_price
- unit_price
- catalog_price
- cost_price
- discount_applied
- discount_percent
- discounted
Informations client
- customer_id
- first_name
- last_name
- email
- gender
- age_range
- signup_date
- country
#### Informations marketing / canal
- channel
- channel_campaigns

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sale_date          2253 non-null   object
 1   item_id            2253 non-null   int64
 2   sale_id            2253 non-null   int64
 3   product_id         2253 non-null   int64
 4   quantity           2253 non-null   int64
 5   original_price     2253 non-null   float64
 6   unit_price         2253 non-null   float64
 7   discount_applied   2253 non-null   float64
 8   discount_percent   2253 non-null   object
 9   discounted         2253 non-null   int64
 10  item_total         2253 non-null   float64
 11  channel            2253 non-null   object
 12  channel_campaigns  2253 non-null   object
 13  total_amount       2028 non-null   float64
 14  product_name       2253 non-null   object
 15  category           2253 non-null   object
 16  brand              2253 non-null   object
 17  color              2253 non-null   object
 18  size               2253 non-null   object
 19  catalog_price      2253 non-null   float64
 20  cost_price         2253 non-null   float64
 21  customer_id        2253 non-null   int64
 22  gender             2253 non-null   object
 23  age_range          2253 non-null   object
 24  signup_date        2253 non-null   object
 25  first_name         2137 non-null   object
 26  last_name          2189 non-null   object
 27  email              2029 non-null   object
 28  country            2253 non-null   object
dtypes: float64(7), int64(6), object(16)
memory usage: 510.6+ KB